
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">

        
        
            <div class="modal-content" style="margin-top: 200px;">
              <div class="modal-header">
               <%= image_tag @artwork.user.avatar.url(:thumb), class: "panel-profile-img"%>
                <h4 class="modal-title"><%= @artwork.title.capitalize %></h4>
               
              </div>
              <div class="modal-body modal-body-scroller">
                <p><%= @artwork.description %></p>

                <p><i class="fas fa-arrows-alt-h"></i> <%= @artwork.width %> inches  </p>

                <p><i class="fas fa-arrows-alt-v"></i> <%= @artwork.height %>inches </p>

              </div>

            </div>

        </div>
        <div class="col-md-offset-1 col-md-6">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
             <%= image_tag @artwork.image.url(:large) %> 
          </div>
        </div>
    </div>
</div>










<% if false %>
<p> <%= @artwork.title %> </p>
<p> <%= @artwork.description %> </p>
<p> Width: <%= @artwork.width %> inches </p>
<p> Height: <%= @artwork.height %> </p>
<%= image_tag @artwork.image.url(:large) %> 
<% end %>
