
        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url('<%= @artwork.image.url %>'); height: 257px; "></div>
            <div class="panel-body text-center">
             

              <h5 class="panel-title">
                <a class="text-inherit" href="profile/index.html"></a>
              </h5>



              <ul class="panel-menu">
              </ul>
            </div>
          </div>
        </div>









<% if false %>
<p> <%= @artwork.title %> </p>
<p> <%= @artwork.description %> </p>
<p> Width: <%= @artwork.width %> inches </p>
<p> Height: <%= @artwork.height %> </p>
<%= image_tag @artwork.image.url(:large) %> 
<% end %>
