<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <div class="m-x-auto text-center app-login-form">

      <a href="../index.html" class="app-brand m-b-lg">
        <%= image_tag("artegee-logo.png", size: "200") %>
      </a>

      <%= form_for @user, html: { multipart: true } do |f| %>

        <div class="container">
          <div class="row">
            <div class="col-md-offset-5 col-md-2">
              <%= f.text_field :user_name, class: "form-control", placeholder: "Username", style: "margin-bottom: 20px; margin-top: 20px;" %> 
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-offset-5 col-md-2">
              <%= f.password_field :password, class: "form-control", placeholder: "Password", style: "margin-bottom: 25px;" %>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-offset-5 col-md-2">
              <%= f.label :avatar %>
              <%= f.file_field  :avatar, style: "margin-bottom: 25px;" %>
            </div>
          </div>
        </div>


        <%= submit_tag "Submit", class: "btn btn-primary-outline" %>

      <% end %>

    </div>
  </div>
</div>






































<% if false %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Welcome Artist</h1>
          <p>Fill in the form below to start connecting with your local market</p>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">
        
          <%= form_for @user, html: { multipart: true } do |f| %>

            <%= f.label :firstname,  "First name" %>
            <%= f.text_field :first_name, class: "form-control" %>

            <%= f.label :lastname, "Last name" %>
            <%= f.text_field :last_name, class: "form-control" %>

            <%= f.label :user_name %>
            <%= f.text_field :user_name, class: "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :avatar %>
            <%= f.file_field  :avatar %>

            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>

            <%= f.label :location %>
            <%= f.text_field :location, class: "form-control" %>

            <%= f.label :school, "Studied at" %>
            <%= f.text_field :school, class: "form-control" %>

            <%= f.label :bio %>
            <%= f.text_area :bio, class: "form-control" %>

            <%= f.submit "Submit", class: "btn btn-primary-outline", style: 'float:right; margin-top: 40px; margin-bottom: 40px;' %>
          <% end %>

        </div>
        <div class="col-md-offset-2 col-md-4">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/eXcZY7/undraw_working_woman_3uve.png" alt="...">
          </div>
        </div>
    </div>
</div>

<% end %>
