<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-heading" style="background-image: url(https://image.ibb.co/eBouOH/iceland.jpg);"></div>
        <div class="panel-body text-center">
          <a href="profile/index.html">
            <%= image_tag @user.avatar.url(:thumb), class: "panel-profile-img"%>
          </a>

          <h5 class="panel-title">
            <a class="text-inherit" href="profile/index.html"><%= @user.first_name%> <%= @user.last_name%></a>
          </h5>

          <p class="m-b-md"><%= @user.bio %></p>

          <ul class="panel-menu">
            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Artworks
                <h5 class="m-y-0"><%= @user.artworks.count %></h5>
              </a>
            </li>

            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Posts
                <h5 class="m-y-0"><%= @user.posts.count %></h5>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">About <small>· <a href="#">Edit</a></small></h5>
          <ul class="list-unstyled list-spaced">
            <li><span class="text-muted" style="margin-right: 16px;"><i class="fas fa-university"></i></span>Studied at <a href="#"><%= @user.school %></a>
            <li><span class="text-muted" style="margin-right: 16px;"><i class="fas fa-map-marker-alt"></i></span> From <a href="#"><%= @user.location %></a>
            <li><span class="text-muted" style="margin-right: 16px;"><i class="fas fa-paint-brush"></i></span>Style of choice <a href="#"><%= @user.style %></a>
          </li></ul>
        </div>
      </div>

      

       <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">Artworks <small> <%= link_to "View all", user_portfolio_index_path(@user) %></small></h5>
          <div data-grid="images" data-target-height="150">
            <% @user.artworks.sample(3).each do |artwork| %>
            <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <%= image_tag artwork.image.url(:medium), style: "width: 110px; height: 110px;", data: {'action' => 'zoom'} %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>







    <div class="col-md-6">
<% if current_user&.id == @user.id %>
    
      <ul class="list-group media-list media-list-stream">
        <li class="media list-group-item p-a">
          <%= form_for [ @user, @post] do |f| %>
            <div class="input-group">
              <%= f.text_field :body, class: "form-control", placeholder: "Post" %>
              <div class="input-group-btn">
                <%= f.button type: "submit", class: "btn btn-default submit-post" do %>
                  <span><i class="fas fa-paper-plane"></i></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
  <% end %>

        

       
        <% @user.posts.each do |post| %>
        <li class="media list-group-item p-a">
          <a class="media-left" href="#">
          <%= image_tag post.user.avatar.url(:thumb), class: "media-object img-circle"%>
          </a>
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="pull-right text-muted"><%= time_ago_in_words(post.updated_at) %> ago</small>
                <h5><%= post.user.first_name  %> <%= post.user.last_name %></h5>
              </div>
              <p>
                 <%= post.body %>
              </p>
            </div>
          </div>
        </li>

      <% end %>
      </ul>



   








    </div>
    <div class="col-md-3">
      <% if current_user&.id == @user.id %>
      <div class="alert alert-info alert-dismissible hidden-xs" role="alert">
        <a class="alert-link" href="profile/index.html"><%= link_to "New artwork", new_user_artwork_path(@user) %>!</a> Show off what you have been working on
      </div>
      <% end %>

<% if false %>
<!-- have to also uncomment out @meetups in the controller-->
      <% @meetups.sample(10).first(1).each do |meetup| %>
      <div class="panel panel-default m-b-md hidden-xs">
        <div class="panel-body">
          <h5 class="m-t-0">Sponsored</h5>
          <div data-grid="images" data-target-height="150">
            <%= image_tag meetup.image, style: "width: 245px; height: 230px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"%>
          </div>
          <p><strong><%= meetup.name %></strong> <%= strip_tags(meetup.description).html_safe[0, 170] + "..." %></p>
          
          <%= link_to "Explore meetup", "#{meetup.link}", :target => "_blank", class: "btn btn-primary-outline btn-sm"  %>
        </div>
      </div>
      <% end %>
<% end %>




      


      <div class="panel panel-default panel-link-list">
        <div class="panel-body">
          © 2018 Artegee

          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads </a>

          <a href="#">info</a>
          <a href="#">Brand</a>
          <a href="#">Blog</a>
          <a href="#">Status</a>
          <a href="#">Apps</a>
          <a href="#">Jobs</a>
          <a href="#">Advertise</a>
        </div>
      </div>
    </div>
  </div>
</div>



<% if false %>
<h1>Create a new post</h1>
  <%= form_for [ @user, @post] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body, :class => "form-control" %>

    <%= f.submit 'Create Post', :class => 'btn btn-sm btn-pill btn-success',style: 'float:right; margin-top: 10px;' %>
  <% end %>
<% end %>







 





























