<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Artists of the month</h1>
          <p>Explore our most popular artists this month </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <%@users.each do |user| %>

        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url(/assets/iceland.jpg);"></div>
            <div class="panel-body text-center">
              <a href="profile/index.html">
                <%= image_tag user.avatar.url(:thumb), class: "panel-profile-img"%>
              </a>

              <h5 class="panel-title">
                <a class="text-inherit" href="profile/index.html"><%= user.first_name%> <%= user.last_name%></a>
              </h5>

              <p class="m-b-md"><%= user.bio %></p>

              <ul class="panel-menu">
                <%= link_to "Discover", user_path(user), class: "btn btn-sm btn-primary-outline" %>
              </ul>
            </div>
          </div>
        </div>
        
       
        <% end %>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Featured Artworks</h1>
          <p>Explore work others have been keeping an eye on</p>
        </div>
    </div>
</div>