<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Artists of the month</h1>
          <p>Explore our most popular artists this month </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <%@users.each do |user| %>

        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url(/assets/iceland.jpg);"></div>
            <div class="panel-body text-center">
              <a href="profile/index.html">
                <%= image_tag user.avatar.url(:thumb), class: "panel-profile-img"%>
              </a>

              <h5 class="panel-title">
                <a class="text-inherit" href="profile/index.html"><%= user.first_name%> <%= user.last_name%></a>
              </h5>

              <p class="m-b-md"><%= user.bio %></p>

              <ul class="panel-menu">
                <li class="panel-menu-item">
                  <a href="#userModal" class="text-inherit" data-toggle="modal">
                    Artworks
                    <h5 class="m-y-0"><%= user.artworks.count %></h5>
                  </a>
                </li>

                <li class="panel-menu-item">
                  <a href="#userModal" class="text-inherit" data-toggle="modal">
                    Enemies
                    <h5 class="m-y-0">1</h5>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
       
        <% end %>
    </div>
</div>