



<div class="profile-header text-center" style="background-image: url(https://image.ibb.co/eBouOH/iceland.jpg); ">
  <div class="container-fluid">
    <div class="container-inner">
      <%= image_tag("artegee-logo-white.png", size: "200") %>
      <h3 class="profile-header-user"></h3>
      <p class="profile-header-bio">For the art lover, or even just the art curious</p>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Artists of the month</h1>
          <p>Explore our most popular artists this month </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <%@users.first(4).each do |user| %>

        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url(https://image.ibb.co/eBouOH/iceland.jpg);"></div>
            <div class="panel-body text-center">
              <a href="profile/index.html">
                <%= image_tag user.avatar.url(:thumb), class: "panel-profile-img"%>
              </a>

              <h5 class="panel-title">
                <a class="text-inherit" href="#"><%= user.first_name%> <%= user.last_name%></a>
              </h5>

              <p class="m-b-md"><%= user.bio %></p>

              <ul class="panel-menu">
                <%= link_to "Discover", user_path(user), class: "btn btn-sm btn-primary-outline" %>
              </ul>
            </div>
          </div>
        </div>
        
       
        <% end %>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>Featured Artworks</h1>
          <p>Explore work others have been keeping an eye on</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
      <% @artworks.sample(4).first(4).each do |artwork| %>

        <div class="col-md-3">
          <div class="panel panel-default panel-profile m-b-md">
            <div class="panel-heading" style="background-image: url('<%= artwork.image.url %>'); height: 257px; "></div>
            <div class="panel-body text-center">
             

              <h5 class="panel-title">
                <a class="text-inherit" href="profile/index.html"></a>
              </h5>



              <ul class="panel-menu">
                <%= link_to "View", user_artwork_path(artwork.user, artwork), class: "btn btn-sm btn-primary-outline"  %>
              </ul>
            </div>
          </div>
        </div>
        
       
        <% end %>
    </div>
</div>








     