<div class="profile-header text-center" style="background-image: url(/assets/iceland.jpg);">
  <div class="container">
    <div class="container-inner">
       <%= image_tag @user.avatar.url(:thumb), class: "panel-profile-img"%>
      <h3 class="profile-header-user"><%= @user.first_name%> <%= @user.last_name%></h3>
      <p class="profile-header-bio">
        <%= @user.bio %>
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Full Collection</a>
      </li>
    </ul>
  </nav>
</div>



<div class="container m-y-md" data-grid="images">
<% @user.artworks.in_groups_of(4, false).each do |artwork_row| %>
  <% wide_index = rand(4) %>
  <% artwork_row.each_with_index do |artwork, index| %>
  <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
    <%= image_tag artwork.image.url(:medium), style: "width: #{ wide_index == index ? 405 : 248}px; height: 254px;" %>    
  </div>
  <% end %>
<% end %>
</div>



































