<!DOCTYPE html>
<html>
  <head>
    <title>Artegee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>

  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag("artegee-logo-white.png", size: "30") %>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">

            <ul class="nav navbar-nav hidden-xs">
              <li class="active">
                <%= link_to "Home", root_path %>
              </li>
              <li>
              </li>
              <li>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
              <li>
                <%= link_to "Sign Up", new_user_path %> 
              </li>
              <li>
                <%= link_to "Login", login_path%>
              </li>
              <li>
                <%= link_to 'Logout', logout_path, method: :delete %>
              </li>

            </ul>
            <ul class="nav navbar-nav hidden">
              <li><a href="#" data-action="growl">Growl</a></li>
              <li><a href="login/index.html">Logout</a></li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <p></p>
            </div>
        </div>
    </div>

   
 

    <%= yield %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>
